:root :where(.wp-block-navigation a:where(:not(.wp-element-button))) {
  font-weight: unset !important;
}

.wp-block-navigation-item.has-child {
  padding-bottom: 0 !important; /* defaults add padding to nested block items and then they seem off */
}

/*
layout stuff
copy to style too!
*/
.flex-1 {
  flex: 1;
}
.flex-grow-1 {
  flex-grow: 1;
}
.flex-shrink-1 {
  flex-shrink: 1;
}
.height-full {
  height: 100%;
}
.width-full {
  width: 100%;
}

.header-akp-button {
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 10px;
  padding: 12px;
  gap: 10px;
  background-color: #039bbd30;

  img {
    height: 18px;
  }
  span {
    color: #09465c; /* akp dark blue color */
    text-transform: uppercase;
    letter-spacing: 1.25px;
    font-weight: 600;
    font-size: var(--wp--preset--font-size--small);
  }
}
