{
	# https will be handled by load balancers
	auto_https off

	# in production the websites are behind load balancers
	servers {
		trusted_proxies static private_ranges
		trusted_proxies_strict
	}

	# enable frankenphp
	frankenphp

	order php_server before file_server
	order php before file_server
}

:80 {
	root * /var/www/html/

	encode br zstd gzip

	@static {
		file
		path *.ico *.css *.js *.gif *.jpg *.jpeg *.png *.svg *.pdf *.woff *.woff2
	}

	php_server
}
